extends ../layout

block content

  if restaurant
    script(type="text/javascript").
        var theJoint = !{JSON.stringify(restaurant)};
    header
      div(class="deltaJumbo")
        h1(class="mainText") #{restaurant.name}
        a(class="inline2" href="/restaurants/") Home
    div
      div(class="leftDiv")
        img(src='' + restaurant.image width="100%")
      div(class="rightDiv")
        div(class="giveMeMoreDivs")
        h4= restaurant.cuisine + " Cuisine"
        h4= "Located in " + restaurant.location + ", " + restaurant.state
        h4= restaurant.bio
        h4(id="starSeeker") Rating: 
        a(href='/restaurants/' + restaurant.name + '/edit' class="whiteFont")
          button(id="showEditKnopf") Edit
        form(action='/restaurants/del/' + restaurant.name method='post' id="buttonHelp")
          button(id="deleteKnopf")
            input.btn.btn-link(type='submit' value='Delete' class="whiteFont")
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/js/showrating.js")
