extends ../layout

block content

  if restaurant
    script(type="text/javascript").
        var theJoint = !{JSON.stringify(restaurant)};
    header
      div(class="deltaJumbo")
        h1(class="mainText") #{restaurant.name}
        a(class="inline2" href="/restaurants/") Home
    div
      div(class="leftDiv")
        img(src='' + restaurant.url width="100%")
      div(class="rightDiv")
        div(class="giveMeMoreDivs")
        h4= restaurant.type + " Cuisine"
        h4= "Located in " + restaurant.location
        h4= restaurant.bio
        h4(id="starSeeker") Rating:
        if reviews
            h4 Patron Reviews:
            br
            for review in reviews
                div(class="blackborder")
                    a(href='/restaurants/' + restaurant.id + '/reviews/' + review.id)= review.review_title
                    p= review.review_rating
                    h6= review.author_handle
                    h6= review.review_content

        a(href="/restaurants/" + restaurant.id + "/newreview" class="whiteFont")
            button(type="button" class="greenKnopf") Add Review
        a(href='/restaurants/' + restaurant.id + '/edit' class="whiteFont")
          button(id="showEditKnopf") Edit
        form(action='/restaurants/del/' + restaurant.id method='post' id="buttonHelp")
          button(id="deleteKnopf")
            input.btn.btn-link(type='submit' value='Delete' class="whiteFont")
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="/js/showrating.js")
  script(src="/js/reviewpopulate.js")
