extends ../layout

block content

  if review
    header
      div(class="deltaJumbo")
        h1(class="mainText2") Review Detail
        a(class="inline2" href="/restaurants/" + review.the_table_id) Back
    div
        h4= review.review_title
        h4= review.review_rating
        h4= review.author_handle
        h4= review.review_content
        a(href='/restaurants/' + review.the_table_id + '/reviews/' + review.id + '/edit' class="whiteFont")
          button(id="showEditKnopf") Edit
        form(action='/restaurants/' + review.the_table_id + '/reviews/del/' + review.id method='post' id="buttonHelp")
          input(type="hidden" value=review.the_table_id name="restId")
          button(id="deleteKnopf")
            input.btn.btn-link(type='submit' value='Delete' class="whiteFont")
